body {	
	background-color: #C1E899;
	margin: 0 auto;
}
h1{
	font-family:serif;
	color: rgb(0,0,0);
	text-align: center;
	width: 100%;
	text-shadow: 2px 2px rgb(0,127,0);
}
p{
	font-family: serif;
}
/*nav bar*/
nav{
	background-color:#55883B
}
nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 10px;
	margin: 0;
	
}

nav li {
	display: inline-block;
	text-align: center;
	margin: 0px auto;
	padding: 5px;
	margin: 0 15px;
	font-size: 1.25em;
}


/*main body styles*/
body main {
	text-align: center;
	min-width: 350px;
	max-width: auto;
}
body main ul{
	align-items: center;
}
	
/*footer body styles */
body footer{
	display: flex;
	flex-direction: column;
	align-items: center;

/*anchor styles*/
a{
	color: rgb(0,0,0);
}
a:hover{
	color: rgb(0,255,0);
}
